<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.blog.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="top.whiteleaf03.blog.modal.entity.Article">
        insert into blog.article (`author`, `title`, `describe`, `borderColor`, `cover`, `content`, `createTime`, `updateTime`)
            value (#{author}, #{title}, #{describe}, #{borderColor}, #{cover}, #{content}, #{createTime}, #{updateTime});
    </insert>

    <delete id="deleteById">
        update blog.article
        set isDelete = 1
        where id = #{id};
    </delete>

    <select id="selectIdAndAuthorAndTitleAndDescribeAndClassificationAndTagsAndBorderColorAndCoverAndViewAndCommentAndPathAndUpdateTime"
            resultType="top.whiteleaf03.blog.modal.vo.ArticleListVo">
        select `id`, `author`, `title`, `describe`, `classification`, `tags`, `borderColor`, `cover`, `view`, `comment`, `updateTime`
        from blog.article
        where isDelete = 0
        order by id desc;
    </select>

    <select id="selectAuthorAndTitleAndDescribeAndClassificationAndTagsAndCoverAndContentAndFilePathAndUpdateTimeById"
            resultType="top.whiteleaf03.blog.modal.vo.ArticleDetailVo">
        select `author`, `title`, `describe`, `classification`, `tags`, `cover`, `content`, `updateTime`
        from blog.article
        where id = #{id}
          and isDelete = 0
        limit 1;
    </select>

    <select id="selectClassificationAndTotal" resultType="top.whiteleaf03.blog.modal.vo.ClassificationVo">
        select classification, COUNT(classification) as total
        from blog.article
        where isDelete = 0
        group by classification;
    </select>
</mapper>