<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.blog.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="top.whiteleaf03.blog.modal.dto.InsertArticleDto" keyProperty="id" useGeneratedKeys="true">
        insert into blog.article (`author`, `title`, `describe`, `borderColor`, `cover`, `content`, `createTime`, `updateTime`)
            value (#{author}, #{title}, #{describe}, #{borderColor}, #{cover}, #{content}, #{createTime}, #{updateTime});
    </insert>

    <delete id="deleteById">
        update blog.article
        set isDelete = 1
        where id = #{id};
    </delete>

    <select id="selectIdAndAuthorAndTitleAndDescribeAndBorderColorAndCoverAndViewAndCommentAndPathAndUpdateTime"
            resultType="top.whiteleaf03.blog.modal.vo.ArticleListVo">
        select `id`, `author`, `title`, `describe`, `borderColor`, `cover`, `view`, `comment`, `updateTime`
        from blog.article
        where isDelete = 0
        order by id desc;
    </select>

    <select id="selectIdAndAuthorAndTitleAndDescribeAndBorderColorAndCoverAndViewAndCommentAndPathAndUpdateTimeInPaging"
            resultType="top.whiteleaf03.blog.modal.vo.ArticlePageListVo">
        select id, author, title, `describe`, borderColor, cover, view, comment, createTime, updateTime, isDelete
        from blog.article
        limit ${(page - 1) * 10}, 10;
    </select>

    <select id="countPageSizeInPaging" resultType="top.whiteleaf03.blog.modal.vo.ArticlePageSizeVo">
        select COUNT(id) as total
        from blog.article;
    </select>

    <select id="selectAuthorAndTitleAndDescribeAndClassificationAndTagsAndCoverAndContentAndFilePathAndUpdateTimeById"
            resultType="top.whiteleaf03.blog.modal.vo.ArticleDetailVo">
        select `author`, `title`, `describe`, `cover`, `content`, `updateTime`
        from blog.article
        where id = #{id}
          and isDelete = 0
        limit 1;
    </select>
</mapper>