<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.blog.mapper.ClassificationMapper">
    <insert id="insert">
        insert into blog.classification (name, updateTime)
            value (#{name}, #{updateTime});
    </insert>

    <update id="deleteById">
        update blog.classification
        set isDelete = 1
        where id = #{id};
    </update>

    <select id="selectIdAndNameAndCover" resultType="top.whiteleaf03.blog.modal.vo.ClassificationListVo">
        select id, name, cover
        from blog.classification
        where isDelete = 0;
    </select>

    <select id="selectNameById" resultType="java.lang.String">
        select name
        from blog.classification
        where id = #{id};
    </select>
</mapper>