<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.blog.mapper.EssayMapper">
    <insert id="insert">
        insert into blog.essay (title, `describe`, cover, content, createTime, updateTime)
            VALUE (#{title}, #{describe}, #{cover}, #{content}, #{createTime}, #{updateTime});
    </insert>

    <update id="deleteById">
        update blog.essay
        set isDelete = 1
        where id = #{id};
    </update>

    <select id="selectTitleAndDescribeAndCoverAndUpdateTime"
            resultType="top.whiteleaf03.blog.modal.vo.EssayListVo">
        select id, title, `describe`, cover, updateTime
        from blog.essay
        where isDelete = 0;
    </select>

    <select id="selectTitleAndDescribeAndCoverAndContentAndUpdateTimeById"
            resultType="top.whiteleaf03.blog.modal.vo.EssayDetailVo">
        select title, `describe`, cover, content, updateTime
        from blog.essay
        where isDelete = 0
          and id = #{id}
        limit 1;
    </select>

    <update id="updateTitleOrDescribeOrCoverAndUpdateTimeById">
        update blog.essay
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id}">
            <if test="title != null">title = #{title},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="cover != null">`cover` = #{cover},</if>
            <if test="updateTime != null">`updateTime` = #{updateTime},</if>
        </trim>
    </update>
</mapper>